.root {
	primary-color: #1CFEBA;
	secondary-color: #7E7F7B;
	tertiary-color: #3A3A38;
}
.Button{
	-fx-background-color: tertiary-color;
	-fx-text-fill: primary-color;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.Button:hover{
	-fx-background-color: primary-color;
	-fx-text-fill: tertiary-color;
}

.grid-pane{
	-fx-background-color: tertiary-color;
	-fx-text-fill: primary-color;
}

.bottom-pane{
	-fx-background-color: secondary-color
}