.toolbar {
	-fx-background-color: #c4c4c4;
}

.combo-box, .arrow {
	-fx-background-color: transparent;
	-fx-font-weight: bold;
}

.component-view{
	-fx-background-color: #4286f4;
}

.component-tab{
	-fx-background-color: #c4c4c4;
}

.component-box{
	-fx-background-color: #4286f4;
}