.toolbar {
	-fx-background-color: #c4c4c4;
}

.combo-box, .arrow {
	-fx-background-color: transparent;
	-fx-font-weight: bold;
}

.entity-view{
	-fx-background-color: #4286f4;
}

.entity-tab{
	-fx-background-color: #c4c4c4;
}

.entity-box{
	-fx-fill: #4286f4;
	-fx-stroke: black;
}

.level-view{
}

.level-view-wrapper{
}