/*
* Splash Screen
*/
.root {
	primary-color: #1CFEBA;
 	secondary-color: #7E7F7B;
 	tertiary-color: #3A3A38;
}

.splash-screen-wrapper {
	-fx-background-color: tertiary-color;
}

.splash-screen-button {
	-fx-background-color: transparent;
	-fx-text-fill: primary-color;
	-fx-font-weight: bold;
}

.splash-screen-button:hover {
	-fx-background-color: secondary-color;
	-fx-text-fill: black;
}

/*
* Game Authoring Environment
*/

.toolbar {
	-fx-background-color: #c4c4c4;
}

.toolbar-prompt{
	-fx-font-weight: bold;
}

.combo-box, .arrow {
	-fx-background-color: transparent;
	-fx-font-weight: bold;
}

.entity-view{
	-fx-background-color: #4286f4;
}

.entity-tab{
	-fx-background-color: #c4c4c4;
}

.entity-box{
	-fx-fill: #4286f4;
	-fx-stroke: black;
}

.level-view{
}

.level-view-wrapper{
}

.level-content-view{
	-fx-background-color:blue;
}

.entity-builder-view-button{
	-fx-background-color: transparent;
	-fx-font-weight: bold;
	-fx-stroke: black;
	-fx-stroke-width: 5;

}

.entity-builder-combo-box > .arrow {
	-fx-background-color: black;
	-fx-font-weight: bold;
}